//左側
.side
  .side__user
    .side__user-content
      %h3.side__user-name
        = current_user.name
      %ul.side__user-action-lists
        %li.side__user-action-list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.side__user-action-list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

  .side__group
    = render partial: "chatside"

//右側
.chat-main
  .chat-main__header
    .chat-main__header--group
      %h2.chat-main__header--group-name
        sampleグループ
      %p.chat-main__header--group-members
        Members: Yoshitaka Yano
    %a.btn{href: '/'}
      .btn-edit
        Edit

  .chat-main__content
    .chat-main__list
      = render partial: "chatmain"

  .chat-main__footer
    %form.footer__form
      %input.message{type: "text", placeholder: "type a message"}
      %label{for: "message-image"}
        %input.image{type: "file", accept: "image/*", id: "message-image"}
        %i.fa.fa-picture-o
      %input.submit{type: "submit", value: "Send"}
